# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.idea/
.project
.pydevproject
.settings/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project-specific exclusions (Ignore models, outputs, data captures, and streams)
models/
outputs/
data/
stream/
temp_output.mp4

# Pytest / Coverage
.cache/
.pytest_cache/
.coverage
htmlcov/
