opencv-python
pyyaml
numpy
easyocr
filelock
fsspec
ImageIO
Jinja2
lazy-loader
MarkupSafe
mpmath
networkx
ninja
opencv-python-headless
packaging
pillow
pyclipper
python-bidi
scikit-image
scipy
setuptools
shapely
sympy
tifffile
torch
torchvision
typing_extensions
psutil
kiwipiepy
kiwipiepy_model
paddleocr
paddlepaddle
paddlex
